        <hr />
        <footer>
            <p>&copy; 2016 - //denver/dev/day</p>
        </footer>
    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
</body>
</html>
